<div class="cardContent">
    <mat-card class="popupcard">
    <form [formGroup]="editForm" (submit)="onSubmit()" >
      <!--Username label and input-->
      <div>
        <mat-form-field [floatLabel]="getFloatLabelValue()">
          <mat-label>Username</mat-label>
          <input matInput  placeholder="Username" 
          name="username"
          formControlName="username" 
          type="text"  required>
        </mat-form-field>
      </div>

       <!--Email label and input-->
    <div>
      <mat-form-field [floatLabel]="getFloatLabelValue()">
        <mat-label>Email</mat-label>
        <input matInput  placeholder="Email e.g user@gmail.com" 
        name="email" 
        formControlName="email" 
         autocomplete="off" required>
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

     <!--Address label and input-->
    <div>
      <mat-form-field [floatLabel]="getFloatLabelValue()">
        <mat-label>Address</mat-label>
        <input matInput type="text" placeholder="Address"
         name="address"  
         formControlName="address" 
         autocomplete="off" >
      </mat-form-field>
    </div>
     <!--Restaurant label and input-->
     <div>
        <mat-form-field [floatLabel]="getFloatLabelValue()">
          <mat-label>Restaurant</mat-label>
          <input matInput type="text" placeholder="Restauant"
           name="restaurant"  
           formControlName="restaurant" 
           autocomplete="off" >
        </mat-form-field>
      </div>
     <!--profile label and input-->
     <div>
        <mat-form-field [floatLabel]="getFloatLabelValue()">
          <mat-label>Profile Url</mat-label>
          <input matInput type="text" placeholder="Profile Url"
           name="profileurl"  
           formControlName="profileurl" 
           autocomplete="off" >
        </mat-form-field>
      </div>
     <!-- Tel -->
    <div>
       <!--floatLabel allows the labels to move up on focus of the input field-->
        <mat-form-field [floatLabel]="getFloatLabelValue()">
          <mat-label>Telephone number </mat-label>
          <input matInput type="tel" placeholder=" Telephone number"
           name="telephone" 
           formControlName="telephone" 
           autocomplete="off"  >
        </mat-form-field>
      </div>
      <!--Facebook-->
        <div>
       <!--floatLabel allows the labels to move up on focus of the input field-->
        <mat-form-field [floatLabel]="getFloatLabelValue()">
          <mat-label>Facebook username </mat-label>
          <input matInput type="tel" placeholder=" Facebook username"
           name="facebook" 
           formControlName="facebook" 
           autocomplete="off"  >
        </mat-form-field>
      </div>

    <div class="footer">
        <button mat-raised-button color="primary" (click)="save()">Save</button>
        <button mat-raised-button color="warn" (click)="close()">Cancel</button>
    </div>
    </form>
</mat-card>
  </div>