<div>
  <app-navigation></app-navigation>
    <!-- My recipe section -->
    <div class="recipes">
      <!-- Upper section -->
      <div class="recipecontrol">
        <button mat-stroked-button type="button" class="newrecipe" (click)="addRecipe()">New Recipe <span><mat-icon>create_new_folder</mat-icon></span></button>
        <form [formGroup]="search" (submit)="searchRecipes" class="searchform"> 
          <mat-form-field  class="search">
            <input matInput type="search" class="searchinput" placeholder=" Search..."
              name="search" 
              formControlName="search" 
              autocomplete="off">
            <span><button mat-stroked-button type="submit" class="searchbutton">Search</button></span>             
          </mat-form-field>
        </form>
        <form [formGroup]="filter" class="filterform">
          <mat-form-field>
            <mat-select class="filter" placeholder="Sort By" formControlName="filter" (selectionChange)="filterRecipesByCategory()">
                <mat-option *ngFor="let category of Categorys" [value]="category.value">
                    {{ category.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </form>
      </div>
      <!-- Recipes display section -->
      <div class="recipedisplay" >
        <div *ngFor="let recipe of recipeData" class="recipecard">
          <mat-card class="recipeinfo" (click)="ViewRecipe(recipe.id)">
            <div class="recipeimagesect">
              <div class="img">
                <img mat-card-image [src]="recipe.recipimgurl" class="recipeimage" alt="Recipe Image">
                <table>
                  <tbody>
                    <tr>
                      <td>Title: {{recipe.title}}</td>
                      <td>Category: {{recipe.category}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="details">
                <mat-icon (click)="like(recipe.id)">star</mat-icon>
                <mat-icon (click)="edit(recipe.id)">edit</mat-icon>
                <mat-icon (click)="deleteRe(recipe.id)">delete</mat-icon>
              </div>
            </div>
            <div class="recipedetailsect">
              <!-- You can add additional recipe details here if needed -->
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  