<div class="cardContent">
    <mat-card class="popupcard">
        <form [formGroup]="newRecipeForm" (submit)="Add()">
            <div class="titlecate">
                <!--Title label and input-->
                <div>
                    <mat-form-field>
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" 
                            name="title"
                            formControlName="title" 
                            type="text">
                    </mat-form-field>
                </div>

                <!--Category label and input-->
                <div>
                    <mat-form-field>
                        <mat-label>Recipe Category</mat-label>
                        <input matInput placeholder="Category" 
                            name="category" 
                            formControlName="category" 
                            autocomplete="off">
                    </mat-form-field>
                </div>
            </div>

            <!--Ingredients label and input-->
            <div>
                <mat-form-field>
                    <mat-label>Recipe Ingredients</mat-label>
                    <input matInput type="text" placeholder="Ingredients"
                        name="ingredients"  
                        formControlName="ingredients" 
                        autocomplete="off">
                </mat-form-field>
            </div>
            
            <!--Recipe Instruction label and input-->
            <div>
                <mat-form-field>
                    <mat-label>Recipe Instruction</mat-label>
                    <input matInput type="text" placeholder="Instruction"
                        name="instruction"  
                        formControlName="instruction" 
                        autocomplete="off">
                </mat-form-field>
            </div>  
    
            <!--Recipe Url Label and input-->
            <div>
                <mat-form-field>
                    <mat-label>Recipe Image Url</mat-label>
                    <input matInput type="text" placeholder="Recipe Image Url"
                        name="recipimgurl"  
                        formControlName="recipimgurl" 
                        autocomplete="off">
                </mat-form-field>
            </div>

            <div class="footer">
                <button mat-raised-button color="warn" class="close" (click)="close()">Cancel</button>
                <button mat-raised-button color="primary" class="save" type="submit">Add</button>
            </div>
        </form>
    </mat-card>
</div>
