/* You can add global styles to this file, and also import other style files */

$primary-color1: white;
$primary-color2: maroon;
$primary-color3: black;
$primary-backgroud: 'https://images.pexels.com/photos/4552113/pexels-photo-4552113.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1';
