<div>
  <app-navigation></app-navigation>
  <div class="recipes">
    <!-- Upper section -->
    <div class="recipecontrol">                
      <app-search-filter></app-search-filter>
    </div>

    <!-- Recipes display section -->
    <div class="recipedisplay">
      <div *ngFor="let recipe of recipeData" class="recipecard">
        <mat-card class="recipeinfo" (click)="ViewRecipe(recipe.id)">
          <div class="recipeimagesect">
            <div class="img">
              <img mat-card-image [src]="recipe.recipeUrl" class="recipeimage" alt="Recipe Image">
              <table>
                <tbody>
                  <tr>
                    <td>Title: {{recipe.title}}</td>
                    <td>Category: {{recipe.category}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="recipedetailsect">
            <!-- You can add additional recipe details here if needed -->
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
